* {
	direction: rtl!important;
}

body { 
	font-family: neoar, Arial, sans-serif;
    font-size:14px;
}


.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.social-icons,
.social-icons li
{
	float: right!important;
}

@media (min-width: 768px) {
	/*Menu*/
	.menu {
	    left: 0;
	}
	.navbar-header {
		float: right!important
	}
	.navbar-nav>li {
	    float: right;
	}
}

.pull-right {
	float: left!important;
}

.pull-left {
	float: right!important;
}

.nav-pills>li {
	float: right!important;
}

.ltr {
    direction: ltr!important;
}

.cright {
    display: block;
    float: left;
    clear: both;
}

.number_ltr {
    direction: ltr!important;
    unicode-bidi: embed;
}

.navbar .nav > li > a {
    font-size: 17px!important;
}

.tag-box {
    border: solid 1px #eee;
    border-right: solid 2px #f51919;
}


.headline h3, .headline h4 {
    margin: -2px 0 0 0;
}

@media (min-width: 768px) {
	.col-md-offset-1 {
	    margin-right: 8.33333333%;
	    margin-left: 0px;
	}
}

.col-lg-offset-1 {
	margin-left: 0px;
}

@media (max-width: 768px) {
	.col-md-offset-0 {
		margin-right: 0px;
		margin-left: 0px;
	}
}

.navbar-toggle {
    float: left;
}
 th{
    text-align: right;
 }
